
　  <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2 = "error_title"><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
       <!--エラーの数を数える-->
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          　<li><%= message %></li>
          　<!--エラー文は自動で作られる-->

          <% end %>
        </ul>
      </div>
    <% end %>