<% if @book.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</p>
   <!--エラーの数を数える-->
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      　<li><%= message %></li>
      　<!--エラー文は自動で作られる-->

      <% end %>
    </ul>
  </div>
<% end %>